<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../template/cross_per_pay/res/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../../template/cross_per_pay/res/layui/css/layui.css">
  <script type="text/javascript" src="../../template/cross_per_pay/res/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body id="list-cont">
  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="#">首页</a>
      </p>
      <div class="sn-quick-menu">
        <div class="login"><a href="login.html">登录</a></div>
        <div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>
      </div>
    </div>
  </div>


  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="母婴商城">
            <img src="../../template/cross_per_pay/res/static/img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" novalidate>
            <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="#" class="active">所有商品</a>
            <a href="#">今日团购</a>
            <a href="#">母婴资讯</a>
            <a href="#">关于我们</a>
          </div>
        </div>
      </div>
    </div>





    




    <div class="product-list-box" id="product-list-box">
      <div class="product-list-cont w1200">
        <h4>更多推荐</h4>
        <div class="product-item-box layui-clear">
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>
          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more1.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more2.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
          <div class="list-item">
            <a href="javascript:;"><img src="../../template/cross_per_pay/res/static/img/more3.jpg"></a>
            <p>时尚宝宝小黄鸭T恤纯棉耐脏多色可选0-2岁宝宝</p>
            <span>￥100.00</span>
            <a href="?price=100" class="layui-btn layui-btn-xs">立即购买</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">                                     
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">母婴资讯</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">母婴商城版权所有 &copy; 2012-2020 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    </div>
  </div>
  <script type="text/javascript">

layui.config({
    base: '../../template/cross_per_pay/res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','carousel'],function(){
      var carousel = layui.carousel,
     mm = layui.mm;
     var option = {
        elem: '#test1'
        ,width: '100%' //设置容器宽度
        ,arrow: 'always'
        ,height:'298' 
        ,indicator:'none'
      }
      carousel.render(option);
      // 模版引擎导入
     // var ins = carousel.render(option);
     // var html = demo.innerHTML;
     // var listCont = document.getElementById('list-cont');
     // // console.log(layui.router("#/about.html"))
     //  mm.request({
     //    url: '../json/index.json',
     //    success : function(res){
     //      console.log(res)
     //      listCont.innerHTML = mm.renderHtml(html,res)
     //      ins.reload(option);
     //    },
     //    error: function(res){
     //      console.log(res);
     //    }
     //  })
    

});
  </script>
</body>
</html>