<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>纸叠效果会员登录界面模板</title>
<link rel="stylesheet" type="text/css" href="../../template/email/css/style.css" />
<link rel="stylesheet" type="text/css" href="../../template/email/css/body.css"/> 
</head>
<body>
<div class="container">
	<section id="content">
		<form action="" method="post">
			<h1>会员登录</h1>
			<div>
				<input type="text" placeholder="邮箱" required="" name="username" id="username" onchange="checkUsername()" />
			</div>
			<div>
				<input type="password" placeholder="密码" required="" id="password" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<input type="submit" value="注册" class="btn btn-primary" id="js-btn-login"/>
			</div>
		</form>
		 
	</section>
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">
<p>来源:More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
</body>
<script src="../../template/xss_2/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	function checkUsername () {
		var username = $("#username").val();
		var reg=new RegExp(/^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/);
		if (reg.test(username))  {
			$("#js-btn-login").removeAttr("disabled");
		} else {
			$("#js-btn-login").attr("disabled", "disabled");
			alert("邮箱格式错误");
		}
	}
</script>
</html>