<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载</title>
    <link rel="stylesheet" href="../../template/assets/layui/css/layui.css" type="text/css" >
</head>
<body>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>文件名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1.txt</td>
        <td>
            <a href="?file=template/assets/img/1.txt" class="layui-btn layui-btn-xs">下载</a>
        </td>
    </tr>
    <tr>
        <td>2.txt</td>
        <td>
            <a href="?file=template/assets/img/2.txt" class="layui-btn layui-btn-xs">下载</a>
        </td>
    </tr>
    </tbody>
</table>

<script  src="assets/layui/layui.js"/>
</body>
</html>