<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Home</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="../../template/xss_1/assets/css/bootstrap.min.css" type="text/css">
<!-- Dropdownhover CSS -->
<link rel="stylesheet" href="../../template/xss_1/assets/css/bootstrap-dropdownhover.min.css" type="text/css">
<!-- fonts awesome -->
<link rel="stylesheet" href="../../template/xss_1/assets/font/css/font-awesome.min.css" type="text/css">
<!-- Plugin CSS -->
<link rel="stylesheet" href="../../template/xss_1/assets/css/animate.min.css" type="text/css">
<!-- Custom CSS -->
<link rel="stylesheet" href="../../template/xss_1/assets/css/style.css" type="text/css">
<!-- Owl Carousel Assets -->
<link href="../../template/xss_1/assets/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../../template/xss_1/assets/owl-carousel/owl.theme.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="../../template/xss_1/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../../template/xss_1/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
 

<!-- Preloader -->
<div id="preloader">
	<div id="loading">
	</div>
</div>
<header>
	<!-- top-menu -->
	<div class="top-menu">
		<!-- top-header -->
		<div class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="phone dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-globe" aria-hidden="true"></i> Language : English </a>
							 <ul class="dropdown-menu">
								 <li><a href="#">English</a></li>
								<li><a href="#">Aribce</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="social">
							<ul>
								<li>
									<?php
									echo $_GET["id"];
									?>
								</li>
								<li>|</li>
								<li><a href="#">Sign up</a></li>
								<li>|</li>
								<li><a href="#">Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /top-header -->
		<!-- mainNav -->
		<div id="mainNav" class="navbar-fixed-top">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-inverse navbar-default">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#"><img src="../../template/xss_1/assets/img/logo.png" alt="logo"></a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
							<ul class="nav navbar-nav">
								<li><a href="universalpasswd.html">Home</a></li>
								<li><a href="../../template/xss_1/about.html">About Us</a></li>
								<li><a href="../../template/xss_1/contact.html"><span>Contact</span></a></li>
								<li>
									<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
								</li>
							</ul>
							<!-- /.navbar-collapse -->
						</div>

					</nav>
				</div>
			</div>


		</div>
		<!-- /mainNav -->
	</div>
	<!-- /top-menu -->

	<div class="header-text">
		<div class="col-xs-12 col-sm-5 col-md-5">
		</div>
		<div class="header-bg col-xs-12 col-sm-7 col-md-7">
			<h1>DON’T HAVE SPACE ON CAMPUS? LET’S START ONLINE</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tellus faucibus vel hendrerit sed, aliquet a est. Cras dapibus nisl non metus viverra, ac convallis eros viverra.Lorem ipsum dolor sit </p>
			<a href="#" class="header-btn">Find courses Now</a>
		</div>
	</div>

</header>
<section class="for-box">
	<!-- .for-box -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft  animated">
				<div class="clr1">
					<div class="for-box-crecl">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<h2>
						Over 40 million<br/> Students
					</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft  animated">
				<div class="clr1">
					<div class="for-box-crecl">
						<i class="fa fa-bookmark" aria-hidden="true"></i>
					</div>
					<h2>
						More Than 20,000<br/>courses
					</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow fadeInRight  animated">
				<div class="clr1">
					<div class="for-box-crecl">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<h2>
						Free contact<br/> anytime
					</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 wow fadeInRight  animated">
				<div class="clr1">
					<div class="for-box-crecl">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
					</div>
					<h2>
						Learn at your pace<br/>on any device
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /.for-box -->
</section>

<section class="viewed-courses">
	<!-- .viewed-courses -->
	<div class="container">
		<div class="row">
			<div class="tittle">
				<h2>Most Viewed Courses</h2>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img1.jpg" alt="coureses-img1">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="price">
								$120 <span>$300</span>
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img2.jpg" alt="coureses-img2">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="price">
								$120 <span>$300</span>
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img3.jpg" alt="coureses-img3">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="price">
								$120 <span>$300</span>
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div><div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >建站模板</a></div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img4.jpg" alt="coureses-img4">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="price">
								$120 <span>$300</span>
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img5.jpg" alt="coureses-img5">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="price">
								$120 <span>$300</span>
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img6.jpg" alt="coureses-img6">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="price">
								$120 <span>$300</span>
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img7.jpg" alt="coureses-img7">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="free">
								FREE
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<!-- .viewed-courses-box -->
					<div class="viewed-courses-box">
						<div class="viewed-courses-img">
							<img src="../../template/xss_1/assets/img/courses-img8.jpg" alt="coureses-img8">
						</div>
						<div class="viewed-courses-text">
							<a href="#">
								<h6>The complete Digital marketing course 2017-2018</h6>
							</a>
							<p>By : Adluf Gulf</p>
							<div class="star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="free">
								FREE
							</div>
						</div>
					</div>
					<!-- /.viewed-courses-box -->
				</div>
				<div class="col-md-12">
					<a href="#" class="button">Browse More Courses</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /.viewed-courses -->
</section>

<section class="px-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Don’t miss anything online<br/> Enjoy our live classes and booked your seat</h2>
				<a href="#" class="button">Browse More Courses</a>
			</div>
		</div>
	</div>
</section>

<section class="instructor-container">
	<!-- .instructor-container -->
	<div class="container">
		<div class="tittle">
			<h2>
				MEET OUR INSTRUCTOR
				<span class="customNavigation">
					<a class="btn prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
					<a class="btn next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</span>
			</h2>
		</div>
		<div class="row">
			<div class="owl-demo-outer">
				<!-- #owl-demo -->
				<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img1.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img2.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img3.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img4.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img5.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img6.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
					</div>
					<div class="item">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img1.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img2.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img3.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img4.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img5.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<!-- .instructor -->
							<div class="instructor">
								<div class="instructor-img">
									<img src="../../template/xss_1/assets/img/instructor-img6.jpg" alt="instructor-img1" />
								</div>
								<h4>
									<a href="#">
									Felicia Richi Brown<br/>
									<span>Instructor, Ui/Ux Design</span>
								  </a>
								</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisc elit. Praesent tellus urna, faucibus vel hendrerit Lorem ipsum dolor sit amet, consectetura Praesent tellus urna, fau
								</p>
							</div>
							<!-- /.instructor -->
						</div>
					</div>

					<!-- /#owl-demo -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.instructor-container -->
</section>

<section class="price-container">
	<!-- .price-container -->
	<div class="container">
		<div class="tittle">
			<h2>PLANS AND PRICING</h2>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<!-- .price-box -->
				<div class="price-box">
					<div class="price-tittle">
						FREE TRIAL
					</div>
					<div class="price-text">
						<div class="price-no">
							<sub>$0.</sub>00
						</div>
						<p>FREE 30 DAYS TRIAL</p>
						<a href="#">Get It Now</a>
					</div>
				</div>
				<!-- .price-box -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<!-- .price-box -->
				<div class="price-box active">
					<div class="price-tittle">
						FREE TRIAL
					</div>
					<div class="price-text">
						<div class="price-no">
							<sub>$0.</sub>00
						</div>
						<p>FREE 30 DAYS TRIAL</p>
						<a href="#">Get It Now</a>
					</div>
				</div>
				<!-- .price-box -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<!-- .price-box -->
				<div class="price-box">
					<div class="price-tittle">
						FREE TRIAL
					</div>
					<div class="price-text">
						<div class="price-no">
							<sub>$0.</sub>00
						</div>
						<p>FREE 30 DAYS TRIAL</p>
						<a href="#">Get It Now</a>
					</div>
				</div>
				<!-- .price-box -->
			</div>
		</div>
	</div>
	<!-- /.price-container -->
</section>

<section class="px-bg2">
	<!-- .Subscribe -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="subscribe">
					<h2>120+ classes & Staff Teaching<br/>Courses and Discussing Topics Online</h2>
					<a href="#" class="button">Subscribe Now</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /.Subscribe -->
</section>


<!-- START FOOTER SECTION -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flog"><img src="../../template/xss_1/assets/img/logo.png" alt="f-logo" /></div>
			</div>
			<div class="col-12-12 col-sm-6 col-md-6">
				<span class="address">123, Radio Station, San francisco<br>
				 1234, new sm street<br>
				 San francisco</span>
			</div>
			<div class="col-12-12 col-sm-6 col-md-6">
				<span class="phone">Phone : +000 123 456 789<br>
					Fax : 11.880.000<br>
					E-mail: Info@example.cp,m</span>
			</div>
			<div class="col-md-12">
				<div class="f-sicon">
					<h2>FOLLOW US ON</h2>
				 <ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					 <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				 </ul>
			  </div>
				<div class="copyright">
					Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- jQuery -->
<script src="../../template/xss_1/assets/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../template/xss_1/assets/js/bootstrap.min.js"></script>
<script src="../../template/xss_1/assets/js/bootstrap-dropdownhover.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../../template/xss_1/assets/js/jquery.easing.min.js"></script>
<script src="../../template/xss_1/assets/js/jquery.fittext.js"></script>
<script src="../../template/xss_1/assets/js/wow.min.js"></script>
<script src="../../template/xss_1/assets/js/modernizr.js"></script>
<!-- Modernizr -->
<script src="../../template/xss_1/assets/js/main.js"></script>
<!-- Resource jQuery -->
<!--  countTo JavaScript  -->
<script type="text/javascript" src="../../template/xss_1/assets/js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="../../template/xss_1/assets/owl-carousel/owl.carousel.js"></script>
<!--  Custom Theme JavaScript  -->
<script src="../../template/xss_1/assets/js/custom.js"></script>

<script type="application/javascript">
	console.log(document);
</script>
</body>

</html>